
/*!
This file is part of DecSoft App Builder.
Visit our website for license information.
Copyright ©2024 DecSoft. All rights reserved.
Visit our website at: https://www.decsoftutils.com/

*/

html, body, .app-view { width: 320px; height: 480px; }
.app-dialog .modal-dialog { margin: auto; width: 320px; height: 480px; }
.app-dialog .modal-dialog .modal-content { width: 320px; height: 480px; }

#viewConsole #console_wrapper { position: absolute; top: 24px; left: 8px; width: 304px; height: 456px; }
#viewConsole #console_wrapper {overflow-y: scroll;}

#viewConsole #consolemenu { position: absolute; top: 0px; left: 0px; width: 320px; height: 32px; }

#viewEditScript #htmlAceEditor { position: absolute; top: 24px; left: 8px; width: 304px; height: 456px; }
#viewEditScript #htmlAceEditor {border-right: 10px;}

#viewEditScript #acemenu { position: absolute; top: 0px; left: 0px; width: 320px; height: 32px; }

#dlgSettings #idHTMLSettingsCnt { position: absolute; top: 8px; left: 0px; width: 320px; height: 472px; }
#dlgSettings #idHTMLSettingsCnt {overflow-y: scroll;}

#dlgTidyOptions #htmlOptions { position: absolute; top: 8px; left: 8px; width: 304px; height: 472px; }
#dlgTidyOptions #htmlOptions {overflow-y: scroll;}
